@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --color-marrom: #A6831C;
    --color-leite: #F2D49B;
    --color-mrrom-escuro: #402B12;
    --color-laranja-claro: #D9A86C;
    --color-laranja: #A66249;
}

*{
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
}
body{
    background-color: #8C501C;
    background-size: cover;
}
nav.rolagem{
    transition: 1s;
    background-color: rgba(55, 55, 55, 0.663);
}

nav{
    height: 3.5em;
    width: 80%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    padding: 0 10%;
}
nav, .navgation{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all.5s;
}
.img-logo{
    width: 70px;
}
.navgation{
    z-index: 2;
    font-size: 1.3em;
    gap: 4em;
}
.navgation a {
    list-style: none;
    text-decoration: none;
    color: var(--color-leite);
    font-weight: bold;
    transition: all.5s;
}
.navgation a:hover{
    background-color: rgba(92, 89, 89, 0.41);
    padding: 10px;
    border-radius: 20%;
}

.btn_ico{
    background: transparent;
    border: none;
    color: var(--color-leite);
    cursor: pointer;
    display: none;
}


section{
    background-image: url(/imagens/bacgrud.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    transition: 1s;
}
main{
    background-image: url(/imagens/selecao-de-bolos-para-o-cafe-da-manha-na-confeitaria-da-padaria_124507-84912.jpg);
    border-radius: 5px;
    width: 98%;
    margin: auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.284);
    background-attachment: fixed;
}

.vidro{
    background-color: rgba(0, 0, 0, 0.453);
    width: 100%;
    margin-bottom: 10px;
    height: 350px;
}
.texto-topo{
    width: 400px;
    margin-left: 20%;
    color: white;
}

.texto-topo h1 {
    margin-bottom: 20px;
    font-size: 4.1em;
}
.texto-topo p {
    font-family: serif;
    font-size: 1.2em;
}


/*card animado*/
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.container .link{
    text-decoration: none;
    padding: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card{
    background-image: linear-gradient(#84837F, #9a6d14, #7E7975);
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 3%;
    max-width: 360px;
    cursor: pointer;
}
.card .img{
    background-image: url(/imagens/Screenshot_4.png);
    background-position: center;
    background-size: cover;
    border-radius: 3%;
    width: 360px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}
.card:hover .img{
    opacity: 1;
    width: 365px;
}
#img2{
    background-image: url(/imagens/Screenshot_5.png);
}
#img3{
    background-image: url(/imagens/Screenshot_3.png);
}
#img4{
    background-image: url(/imagens/Screenshot_1.png);
    background-position: top,left;
}
#img5{
    background-image: url(/imagens/Screenshot_2.png);
}
#img6{
    background-image: url(/imagens/Screenshot_6.png);
}
.card .img span{
    font-size: 2em;
    font-style: italic;
}
.card .content{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all 0.5s;
}
.card:hover .content{
    padding: 20px;
    height: 100px;
}
.content .title {
    font-size: 2.3em;
    font-weight: bolder;
}
.content p {
    color: rgb(252, 252, 252);
    font-family: initial;
    margin-top: 20px;
    font-size: 1.3em;
}
.card .content .desc{
    font-weight: 100;
    opacity: .7;
}
.card .arrow{
    padding: 15px;
    font-size: 28px;
}


footer{
    background-image: linear-gradient(to top left, #D9A679,#D97E4A,#593520 );
    height: auto;
    padding: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-content > p, h3{
    font-family: Arial, Helvetica, sans-serif;
}
.footer-bottom p{
    font-family: Arial, Helvetica, sans-serif;
}
.nethu{
    font-family: Arial, Helvetica, sans-serif;
}
.sociais{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.sociais li {
    margin: 0 10px;
}
.sociais a {
    text-decoration: none;
    color: white;
}
.sociais a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.sociais a:hover{
    color: aqua;
}
.footer-bottom{
    width: 100%;
    background: #000;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


@media screen and (max-width: 768px ) {
    .btn_ico{
        display: block;
    }
    .navgation{
        position: absolute;
        flex-direction: column;
        top: 0;
        height: 1000vw;
        width: 35vw;
        padding: 1em;
        background-color: var(--color-laranja);
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .texto-topo{
        margin: auto;
    }
    nav.rolagem{
        background-color: transparent;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}


